## Predict function

This is a sample notebook for testing the **prediction with input values**, after that I will **make a module** for that.

In [1]:
import pandas as pd
import numpy as np

import pickle

In [2]:
example_input_dict = {'Kilometers_Driven': 54840, 'Power': 99.6, 'Engine': 1485, 'Year': 2014, 'Seats': 5, 'Mileage': 18.8, 'Brand': 'Volkswagen', 'Location': 'Chennai', 'Fuel_Type': 'Petrol', 'Transmission': 'Automatic', 'Owner_Type': 3}

In [7]:
def to_df(input_dict):
    
    features = ['Kilometers_Driven', 'Owner_Type', 'Mileage', 'Engine', 'Power',
        'Seats', 'Age', 'Ahmedabad', 'Bangalore', 'Chennai', 'Coimbatore',
        'Delhi', 'Hyderabad', 'Jaipur', 'Kochi', 'Kolkata', 'Mumbai', 'Pune',
        'CNG', 'Diesel', 'LPG', 'Petrol', 'Automatic', 'Manual', 'Ambassador',
        'Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force',
        'Ford', 'Honda', 'Hyundai', 'ISUZU', 'Isuzu', 'Jaguar', 'Jeep',
        'Lamborghini', 'Land', 'Mahindra', 'Maruti', 'Mercedes-Benz', 'Mini',
        'Mitsubishi', 'Nissan', 'Porsche', 'Renault', 'Skoda', 'Smart', 'Tata',
        'Toyota', 'Volkswagen', 'Volvo']

   # Create a DataFrame with all zeros
    zeros_array = np.zeros((1, len(features)))
    # Create a DataFrame from the numpy array
    df = pd.DataFrame(zeros_array, columns=features)
    
    
    df['Kilometers_Driven'] = float(input_dict['Kilometers_Driven'])
    df['Power'] = float(input_dict['Power'])
    df['Engine'] = int(input_dict['Engine'])
    df['Seats'] = int(input_dict['Seats'])
    df['Mileage'] = float(input_dict['Mileage'])
    df['Age'] = 2019 - int(input_dict['Year'])  
    df[input_dict['Location']] = 1
    df[input_dict['Fuel_Type']] = 1
    df[input_dict['Transmission']] = 1
    df[input_dict['Brand']] = 1
    df['Owner_Type'] = int(input_dict['Owner_Type'])

    return df

In [11]:
# Test to_df function
df = to_df(example_input_dict)
df

,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Age,Ahmedabad,Bangalore,Chennai,...,Mitsubishi,Nissan,Porsche,Renault,Skoda,Smart,Tata,Toyota,Volkswagen,Volvo
0,54840.0,3,18.8,1485,99.6,5,5,0.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0

In [9]:
def predict(df):
    with open('../../model/model.pkl', 'rb') as model_file:
        model = pickle.load(model_file)
    return model.predict(df)

In [10]:
input_df = to_df(example_input_dict)
print(predict(input_df))

[5.7206993]

OK! The function run correctly.